* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 0px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .5s;
}
header.sticky {
    padding: 10px 0px;
    background: radial-gradient(68.96% 160.8% at 71.53% 50%, #193084 0%, #250862 99.33%);
}
header .logo-mdc {
    
}
header ul{
    position: relative;
    display: flex;

}
header ul li {
    list-style: none;
    text-decoration: none;
}
header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 35px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none !important;
}
header ul li a:hover {
    color: #FFFFFF;
}
section {
    padding: 150px;
}
.banner {
    position: relative;
    min-height: 100vh;
    background : radial-gradient(68.96% 160.8% at 71.53% 50%, #193084 0%, #250862 99.33%);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner span {
    position: relative;
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    color: #F3CE42;
    padding-bottom: 10px;
    
}
.banner p {
    position: relative;
    max-width: 400px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #B7C0EB;
}
.banner .btn {
    position: relative;
}    
.about .about-main {
    font-family: 'Barlow Condensed', sans-serif;
   
}

.about-main .row {
    background-image: url(./imgs/mesh.png);
    background-size: cover;
    margin-top: 8%;
}
.about-main .col-md-4 {
    width: 516px;
    height: 339px;
    background-color: #000000;
    margin-left: 10%;
    margin-top: -3%;
    margin-bottom:5%;
}
.about-main .col-md-6 {
   margin-top: 5%;
   margin-left: 5%;
   margin-right: -5%;
}
.about-main  p {
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height */

    text-transform: uppercase;

    color: #437FEC;

}
.about-main .media-body a {
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    /* identical to box height */


    color: #254798;
}

.features .title {
    margin-top: 5%;
    margin-left: 10%;
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #437FEC;
}
.features .row  {
    padding-left: 6%;
    margin-top: 5%;
    padding-right: 6%;
    display: flex;
    ;
}
.features .row  p {
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */


    color: #224499;

}
.features a {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #99A6D4;
}
.features .logo-feature {
  margin-bottom: 10%;
  margin-top: 5%
}
.features .col-md-4 {
     padding-left: 5%;
     padding-right: 3%;
}
.features .feature1 p {
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 53px;
    /* identical to box height */


    color: #224499;
}
.features .feature1 a {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #99A6D4;
}
.features .feature1 .col-lg-4 {
   padding-top: 5% ;
   padding-bottom: 5%;
}
.features .feature1 .col-md-6 {
    margin-left: 4%;
    margin-right: 5%;
}
.features .feature1 img {
    max-width: 100%;;
}

.mdc-bring {
    position: relative;
    
    background : radial-gradient(68.96% 160.8% at 71.53% 50%, #193084 0%, #250862 99.33%);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
}
.mdc-bring .text {
    max-width: 400px;
}
.mdc-bring .mdc-bring1 {
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #F3CE42;
}
.mdc-bring .mdc-bring2 {
    margin-bottom: 10%;
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height */


    color: #03D9FE;
}
.mdc-bring .content  {
    
    margin-bottom: 5%;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #99A6D4;
   


}

.mdc-bring .mdc-bring-content {
    display: flex;
    flex-direction: row;
    
}
.mdc-bring .icon {
    margin-right: 5%;
}
.mdc-bring .mdc-bring-content .content {
    margin-top: 5px;
}
.mdc-bring .img-rocket {
   position: relative;;
}
.mdc-bring .img-rocket .roket {
    position: relative;
}
.mdc-bring .mdc-bring .rocket1{
    position: absolute;
    
}
.mdc-bring .mdc-bring .smoke1{
    position: absolute;
    
}
.mdc-bring .mdc-bring .smoke2   {
    position: absolute;
    
}
.customize {
    margin-bottom: 5%;
}
.customize .col-md-6 {
  margin-top: 5%;
  padding-left: 10%;
}

.customize .col-md-5 {
    margin-top: 10%;
    padding-left: 7%;
    padding-right: 8%;
  }


.customize .title {
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;

    color: #224499;
}
.customize p {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #99A6D4;
}
.customize img {
    max-width: 100%;
}
.download-main .avai {
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #F3CE42;
}
.download-main .title {
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height */


    color: #03D9FE;
}
.download-main p {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #99A6D4;


}
.download-main .btn {
    display: flex;
    flex-direction: row;
    padding-left: 0%;
    
}
.download-main .download-btn {
    padding-right: 5%;
}

.download-main {
    margin-left: 10%;
    width: 100%;
    float: right;
    background-image: radial-gradient(54.06% 126.17% at 71.53% 50%, #263E98 0%, #250862 99.33%);
   
}
.download-main .background {
    float: right;
    
}
.download-main .img {
    max-width: 100%;
}
.download-main .content {
   padding-top: 15%;
   padding-left: 20%;
}
.contact {
    margin-left: 5%;
    
}
.contact .col-md-3 {
    margin-top:5%;
    padding-left: 3%;
          
}
.contact h4 {
   
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    /* identical to box height */


    color: #254798;
}
.contact p {
    margin-left: 13%;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #99A6D4;
}
.contact .title {
    display: flex;
    flex-direction: row;
}
.contact .logo-contact {
    margin-right: 5%;
}
.contact .logo-group {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    
}
.contact .logo-group .logo-fb {
    margin-right: 8%;
}
.contact::after {
    content: '';
    background: #D9E0ED;
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 1240px;
    height: 1px;
    display: block;
    margin-left: 2%;
    margin-top: 1%;
    
}
.footer {
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 1%;
}
.footer .col-md-4 {
   padding-left: 12%;
   display: flex;
   flex-direction: row;
}
.footer .col-md-8 {
    padding-left:2%;
}
.footer .logo {
    padding-left: 10%;
}
.footer p {
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #254798;
}
@media (max-width: 767px) {
    .home .col-md-4 {
        padding-left: 10%;
        margin-top: 20%;
    }
    .nav-bar {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
        background: radial-gradient(54.06% 126.17% at 71.53% 50%, #263E98 0%, #250862 99.33%);    
        margin-right: 10%;
    }
    .home .col-md-8 {
        
    }
    .navbar.scrolled {
        background: radial-gradient(68.96% 160.8% at 71.53% 50%, #193084 0%, #250862 99.33%);
        margin-right: 10%;
        width: 100%;
        transition: background-color 500ms linear;
        
    }
    .home .scroll {
        margin-top: auto;
        margin-left: 47%;
    }
    .about-main .col-md-6 {
        margin-left: 10%;
    }
    
    .customize .title {
        font-family: Barlow Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        color: #224499;
        margin-bottom: 5%;
    }
    .download-main .content {
        padding-top: 10%;
        padding-left: 8%;
    }
}
@media (max-width: 994px) {
    
}
@media (max-width: 600px) {
    .about-main .col-md-4 {
        width:390px;
        height: 250px;
        background-color: #000000;
        margin-left: 10%;
        margin-top: -3%;
        margin-bottom: 5%;
    }
    .about-main p {
        font-family: "Barlow Condensed";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 48px;
        text-transform: uppercase;
        color: rgb(67, 127, 236);
        
    }
    .about-main .col-md-6 {
        margin-left: 10%;
    }
}

