* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(0deg, #0085CE 1.42%, #0967B4 13.11%, #134596 29.68%, #1B2A7F 46.24%, #21176E 62.81%, #240C64 80.35%, #250861 98.86%);
}

.content1 {
    margin-top: 110px ;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 660px;
    
}
.content1 .title {
    margin-bottom: 10px;
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: #F3CE42;
}
.content1 p {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #B7C0EB;
}
.container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    
}
.container .card {
    position: relative;
    width: 155px;
    height: 155px;
    margin: 60px 50px 0px 80px;
}
.container .card .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .card .face.face1 {
    background:rgba(0,0,0,0.1);
    
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container .card .face.face1 .content {
    z-index: 1;
}
.mesh {
    position: absolute;
    bottom: 0;
    
}
.mesh-image {
    max-width: 100%;
    width: 10000px;
    height: 200px;
}

.container .card .face.face1:hover {
    background:rgba(0,0,0,0.2);
    transition: 0.8s;
}

.feature p {
    position: relative;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #8DD7FF;
    margin: 20px -10px 10px 75px;
    max-width: 160px;
}
.btn {
     display: flex;
     flex-direction: column;
     align-items: center;
}
.btn:after {
    margin-top: 30px;
    content: '';
    background: #029EFF;
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 465px;
    height: 1px;
    display: block;
    
}
.contact {
    margin-top: 10px;
    display: flex;
    width:450px ;
    justify-content: space-between;
}
.contact .contact1 {
    display: flex;
    align-items: center ;
    
}
.contact .contact1 p {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #8DD7FF;
}
